
.box p::after {
  content: "";
  position: relative;
  height: 2px;
  top: 6px;
  display: block;
  background-color: #711d1c;
  width: 80%;
}
.box p::before {
  content: "";
  position: relative;
  height: 2px;
  top: 40px;
  display: block;
  background-color: #711d1c;
  width: 58%;
}
